body{
    background: rgb(239, 234, 248);
}
.nav{
    height: 100px;
    width: 100%;

    float: left;
    text-decoration: none;
}
li{
    text-decoration: none;
    font-size: 20px;
    background-color: rgb(182, 164, 247);
    border-radius: 20px;
}
.banner{
    height: 400px;
    width: 40%;
    display: black;

}
.banner img{
    width: 400px;
}
.meno{
    border: 1px  solid rgb(19, 9, 18);
    color: black;
    display: flex;
    text-decoration: none;
    float: left;
    padding: 10px 20px;

}
#login{
    float: right;
}
.Home-logo{

}
section{
    height: 400px;
}